.world {
  margin: 10px;
}
.pool {
  display: inline-block;
  background: #000;
}
.row {
  height: 5px;
  font-size: 0;
  line-height: 0;
}
.row div {
  display: inline-block;
  height: 5px;
  width: 5px;
  font-size: 0;
  line-height: 0;
}
.active {
  background: green;
}
